#Remove # for variables you want to use
OPENVPN_USERNAME={{ transmission_openvpn_username }}
OPENVPN_PASSWORD={{ transmission_openvpn_password }}
TRANSMISSION_RPC_PASSWORD={{ transmission_password }}
TRANSMISSION_RPC_USERNAME=admin 
